<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="credit" class="in.ashokit.beans.CreditCard"></bean>
    <bean id="debit" class="in.ashokit.beans.DebitCard"></bean>
    <bean id="upi" class="in.ashokit.beans.UPI"></bean>
    
    <bean id="restaurant" class="in.ashokit.beans.Restaurant">
            <property name="iPayment" ref="upi"></property>    
    </bean>

</beans>